<!DOCTYPE html>
<html lang="en">
<head>
    	<title>Dreams</title>
    <meta charset="UTF-8">
    	<link rel="stylesheet" type="text/css" href="static/css/mystyle.css">

    <style>
    </style>
</head>
<body>

<div class="signup-w3ls">
    <div class="signup-agile1">
        <form action="/profile" method="post">

            <div class="form-control">
                <label class="header">Profile Photo:<font color="red">*</font></label>

                <input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture>
            </div>

            <div class="form-control">
                <label class="header">First Name :<font color="red">*</font></label>
                <input type="text" id="store_name" name="first_name" placeholder=""  required="">
            </div>

            <div class="form-control">
                <label class="header">Last name :<font color="red">*</font></label>
                <input type="text" id="store_type" name="last_name" placeholder="" required="">
            </div>

            <div class="form-control">
                <label class="header">Phone Number :<font color="red">*</font></label>
                <input type="text" id="owner_type" name="phone_number" placeholder="" required="">
            </div>

            <div class="form-control">
                <label class="header">Password :<font color="red">*</font></label>
                <input type="text" id="website" name="password" placeholder="" required="">
            </div>

            <div class="form-control">
                <label class="header"> New Password :<font color="red">*</font></label>
                <input type="text" id="contact_number" name="new_pass" placeholder="" required="">
            </div>

            <div class="form-control">
                <label class="header">Confirm Password :<font color="red">*</font></label>
                <input type="text" id="contact_email" name="conf_pass" placeholder="" required="">
            </div>

            <input type="submit" class="register" value="Save">
        </form>
        <input type="submit" class="cancel" value="cancel">
    </div></div>
</body>
</html>
